/* Float four columns side by side */
.column {
  float: left;
  width: 15%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 90%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px;
  text-align: center;
  background-color: #f1f1f1;
}
.card .cardContext {
  background-color: #150050;
}
.card .cardContext .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 5rem;
}
