/* Float four columns side by side */
.column {
  float: left;
  width: 100%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}
.card {
  width: 100%;
  text-align: center;
  background-color: #f1f1f1;
}
.card .cardContext {
  background-color: #494650;
}
.card .cardContext .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 2.5rem;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .row {
    display: flex;
    justify-content: center;
  }
  .column {
    width: 90%;
    display: block;
  }
}
